include versioneer.py
include delocate/_version.py
include LICENSE
include README.rst
include AUTHORS
include *requirements.txt
recursive-include delocate/tests/data *
recursive-include delocate/tests/data_platform_tag *
